@page
@model BabbyNanny.Pages.AddRatingModel
@{
}
<script>
    function DoPostBack() {
        document.formRate.submit();
    }
</script>
<link rel="stylesheet" href="~/css/create.css" />
<h1>Rate Users</h1>
<h4>Evaluate the users from the voting table below.</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
                <div class="container">
                    <form method="post" name="formRate">
                        <div class="rate">
                            <input asp-for="Rate" type="radio" id="star5" name="rate" value="5"
                                   onchange="DoPostBack();" />
                            <label for="star5" title="text">5 stars</label>
                            <input asp-for="Rate" type="radio" id="star4" name="rate" value="4"
                                   onchange="DoPostBack();" />
                            <label for="star4" title="text">4 stars</label>
                            <input asp-for="Rate" type="radio" id="star3" name="rate" value="3"
                                   onchange="DoPostBack();" />
                            <label for="star3" title="text">3 stars</label>
                            <input asp-for="Rate" type="radio" id="star2" name="rate" value="2"
                                   onchange="DoPostBack();" />
                            <label for="star2" title="text">2 stars</label>
                            <input asp-for="Rate" type="radio" id="star1" name="rate" value="1"
                                   onchange="DoPostBack();" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

