@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <title> Babby Nanny </title>
    <link rel="stylesheet" href="~/css/index.css">
</head>

<body>



    <div class="divstyle ">

        <p>The babysitter is primarily responsible for meeting the vital needs of the baby. In other words, at the beginning of these needs are basic needs such as nutrition, dressing, sleep, cleaning and toilet. Meeting the needs meticulously is very important for the health and development of the baby.</p>
        <p>We welcome teachers, babysitters and playmates who want to join our team. We want to see parents who are looking for trainers, playmates and caregivers for their babies and children in our system. Register and login to Babby Nanny. Publish your ads. Join our family too.</p>

    </div>
    <div class="divstyle ">

        <p>We welcome teachers, babysitters and playmates who want to join our team. We want to see parents who are looking for trainers, playmates and caregivers for their babies and children in our system. Register and login to Babby Nanny. Publish your ads. Join our family too.</p>

    </div>

</body>
</html>
